@charset "utf-8";
/* CSS Document */

body {
	font-family:"Times New Roman", Cambria, "Hoefler Text", "Liberation Serif", Times, serif;
	color:#000000;   /*schwarz*/
	background-color:#FFFFFF;  /*weiss*/
}

div#container {
	width:auto;
	border:none;
	margin:0px;
	/*background-color:#88FB87;*/	
}
	

ul#navi {
	display:none;
}

div#merkbox {
	display:none;
}

