@charset "utf-8";
/* CSS Document */

body {
	font-family:Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, sans-serif;
	font-size:16px;
}

div.spalten {
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	-moz-column-gap:40px;
	-webkit-column-gap:40px;
	column-gap:40px;
	background-color:#7FCDF9;
}

div.spalten p {
	text-align:justify;
}

