@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

body {
	font-family:Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, sans-serif;
	font-size:16px;
}

h2 {
	margin-bottom:20px;
}

img {
	width:100%;
}

p {
	margin-bottom:20px;
}

p.textbox {
	float:left;
	width:130px;
	margin:15px;
	background-color:#D4D4D4;
}

div#conteiner {
	margin:20px auto;
	width:980px;
	min-width:200px;
	padding:20px;
	background-color:#E8960F;
}

/*medienabfrage fuer tablet*/
@media screen and (min-width:500px) and (max-width:1040px){
	div#conteiner {
		width:500px;
		background-color:#9DCCF3; /*blau*/
	}
}

/*medienabfrage fuer Handy*/
@media screen and (min-width:200px) and (max-width:499px){
	div#conteiner {
		width:200px;
		background-color:#83D7A4; /*gruen*/
	}
	
	
}
