@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

body {
	font-family:Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, sans-serif;
	font-size:16px;
	background-color:#CCCCCC;
}

/*=====================================*/

div#oben {
	/*position:fixed;*/
	height:70px;
	color:#FFFFFF;
	background-color:#000000;
}

div#oben p {
	/*float:left;*/
	font-weight:bold;
	padding:10px;
}

div#oben ul {
	float:right;
	height:30px;
	padding:10px;
	margin:10px 30px 10px auto;
	list-style:none;
	-moz-border-radius:20px;/* Firefox*/
	-webkit-border-radius:20px; /*webkit= Safari + Chrome*/
	border-radius:20px;
	background-color:#00CC00;
}

div#oben ul li {
	background-color:#00CC00;
}

div#oben ul li a {
	display:block;
	text-decoration:none;
	color:#FFFFFF;
}

div#oben ul li a:hover {
	color:#FF0000;
}
/*=====================================*/
div#head {
	height:120px;
	border:3px solid #FFFFFF;
	margin-bottom:20px;
	background-color:#FF3333;
}

h1 {
/*	float:left;*/
	height:50px;
	padding:20px;
	margin-bottom:20px;
	margin-left:200px;
	font-size:50px;
	font-family:Georgia, Constantia, "Lucida Bright", "DejaVu Serif",  serif;
/*	text-align:center;*/
	color:#FFFFFF;
	
}

/*div#kontakt {
	float:right;
	height:50px;
	padding:20px;
	margin-right:200px;
}*/

/*=====================================*/

div#conteiner {
	position:relative;
	margin:20px auto;
	width:950px;
	height:700px;
	/*border:5px solid #CFF;*/
}

/*div#content {
	width:950px;
	margin-bottom:20px;
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
}
div#footer {
	color:#FFFFFF;
	background-color:#000000;
}
*/


ul#navi {
	list-style:none;
	margin-bottom:20px;
	background-color:#0CF;
}

ul#navi li {
	float:left;
	margin:auto 0px 20px 0px;
	margin-right:8px;
	margin-left:8px;
	padding:10px;
	width:190px;
	height:190px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%; 
	border-radius:50%;
	border:5px solid #FFFFFF;
	background-color:#0CF;
}

ul#navi li.start {
	background-color:#FFFFFF;
}

ul#navi li.garten1 {
	background-color:#0CF;
}

ul#navi li.garten2 {
	background-color:#3C0;
}

ul#navi li.garten3 {
	background-color:#F90;
}


ul#navi li a {
	display:block;
	text-align:center;
	text-decoration:none;
	padding:40px;
	font-size:36px;
	color:#FFFFFF;
}

ul#navi li a:hover {
	font-weight:bold;
	color:#FF0000;
}

div#werbung {
	position:fixed;
	width:100px;
	height:200px;
	z-index:1;
	padding:40px;
	font-size:24px;	
	color:#FFFFFF;
	background-color:#333333;
}

